<section class="statuses">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="to-do-pagination">
          Filter:
          <button class="to-do-pagination__btn" [ngClass]="{'active': filter === 'all'}" (click)="filter='all'">
            All
          </button>
          <button class="to-do-pagination__btn" [ngClass]="{'active': filter === 'completed'}" (click)="filter='completed'"
            *ngIf="haveCompleted()">
            Completed
          </button>
          <button class="to-do-pagination__btn" [ngClass]="{'active': filter === 'active'}" (click)="filter='active'"
            *ngIf="haveActive()">
            Active
          </button>
        </div>
      </div>
      <div class="col-lg-8">
        <ul class="to-do-ul">
          <li class="to-do__counter">
            You have {{ counter() }} task's..
          </li>
          <li class="to-do__clear" (click)="clearCompleted()" *ngIf="haveCompleted()">
              Clear completed
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<input class="to-do__input" type="text" autofocus placeholder="What i need to do.." [(ngModel)]="todoTitle"
  (keyup.enter)="addTodo()">
<div class="container">
  <div class="to-do-list">
    <div class="row to-do-item" *ngFor="let todo of todosFiltered()" [ngClass]="{'completed': todo.completed}">
      <div class="col-lg-1">
        <label>
          <input class="to-do-item__checkbox" type="checkbox" [(ngModel)]="todo.completed">
          <span></span>
        </label>
      </div>
      <div class="col-lg-10">
        <div class="to-do-item__desc" title="You can edit me ;)" *ngIf="!todo.editing; else editingTodo" (dblclick)="editTodo(todo)">
          {{ todo.title }}
        </div>
        <ng-template #editingTodo>
          <input class="to-do-item__edit" type="text" [(ngModel)]="todo.title" (keyup.enter)="editDone(todo)">
        </ng-template>
      </div>
      <div class="col-lg-1">
        <button class="to-do-item__delete" (click)="deleteTodo(todo.id)">Delete</button>
      </div>

    </div>
  </div>
</div>
<!--
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <input class="to-do__input" type="text" placeholder="What i need to do.." [(ngModel)]="todoTitle" (keyup.enter)="addTodo()">
      <div class="to-do-item" *ngFor="let todo of todosFiltered()">
        <input class="to-do-item__checkbox" type="checkbox" [(ngModel)]="todo.completed">
        <div class="to-do-item__desc" *ngIf="!todo.editing; else editingTodo" (dblclick)="editTodo(todo)" [ngClass]="{'completed': todo.completed}">
          {{ todo.title }}
        </div>
        <ng-template #editingTodo>
          <input class="to-do-item__edit" type="text" [(ngModel)]="todo.title" (keyup.enter)="editDone(todo)">
        </ng-template>
        <button (click)="deleteTodo(todo.id)">Delete</button>
      </div>
      <div class="to-do__counter">
        {{ counter() }}
      </div>

      <div class="to-do__completed" *ngIf="haveCompleted()">
        You can remove completed tasks
      </div>

      <button class="to-do__clear" (click)="clearCompleted()" *ngIf="haveCompleted()">
        Clear completed
      </button>



    </div>
  </div>
</div> -->
